@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chemistry_So_Fun</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="./css/asset/index.css" asp-append-version="true" />
</head>

<body class="body">

    <div>
        <ul class="body-list">
            <li class="body-item">
                <div class="body-content">
                    <h2 class="fw-bold">Phong thi nghiem 3D</h2>
                    <span class="description">
                        Bước vào thế giới hóa học sống động với phòng thí nghiệm 3D mô phỏng chân thực. Tự do di chuyển, tương tác với các dụng cụ thí nghiệm, thực hiện các thí nghiệm ảo một cách trực quan và an toàn. Trải nghiệm trực tiếp các phản ứng hóa học, quan sát sự thay đổi trạng thái vật chất, và khám phá các nguyên tắc khoa học một cách sinh động.
                    </span>
                </div>
                <img class="body-img" src="./css/asset/image/2.png">
            </li>
            <li class="body-item">
                <div class="body-content">
                    <h2 class="fw-bold">Quiz</h2>
                    <span class="description">
                        Kiểm tra và củng cố kiến thức hóa học của bạn với hệ thống bài tập trắc nghiệm phong phú, đa dạng. Các bài tập được thiết kế theo từng chủ đề, mức độ khó khác nhau, giúp bạn đánh giá năng lực bản thân và ôn tập hiệu quả. Hệ thống tự động chấm điểm và cung cấp giải thích chi tiết cho từng câu hỏi, giúp bạn học hỏi từ sai lầm và nâng cao hiểu biết.
                    </span>
                </div>
                <img class="body-img" src="./css/asset/image/3.png">
            </li>
            <li class="body-item">
                <div class="body-content">
                    <h2 class="fw-bold">Ly thuyet</h2>
                    <span class="description">
                        Tham khảo hệ thống lý thuyết hóa học được trình bày một cách khoa học, logic và dễ hiểu. Nội dung bao gồm các khái niệm cơ bản, định luật, nguyên tắc, công thức, và các ví dụ minh họa cụ thể. Hệ thống được cập nhật thường xuyên với những kiến thức mới nhất, đảm bảo bạn luôn nắm bắt được đầy đủ và chính xác các kiến thức hóa học.
                    </span>
                </div>
                <img class="body-img" src="./css/asset/image/4.png">
            </li>

        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
