#logo {
  /* width: 6rem;
  top: -3rem;
  left: 1rem; */
  /* flex: 0 0 auto;
  max-width: 100px; */
  width: 6rem;
  top: -3rem;
  border: 4px solid #0073B7;
}
@media (max-width: 800px) {
  #logo {
    width: 50px; /* Kích thước logo thu nhỏ cho màn hình điện thoại */
    top: 0.2rem;
  }
}

#header {
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
  background-size: cover;
}
#header-name {
  padding: 0.5rem;
  margin: 0;
  background-color: #9BC69D;
  color: #0073B7;
}

#header-list {
  padding-top: 1rem;
  margin: 0;
}

.header-list {
  height: 3.5rem;
  padding: 0;
}

.func {
  padding: 0.5rem;
  padding-bottom: 0;
}

.icon {
  width: 3.5rem;
  padding-top: 0.6rem;
  height: 3rem;
}

.hello {
  background-color: antiquewhite;
}