<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chemistry_So_Fun</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/asset/index.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            <img class="rounded-circle logo " src="~/css/asset/image/CHEMISTRY SO FUN.png" alt="logo page">
        </div>
        <h1 class="text-center fw-bold" id="header-name">CHEMISTRY SO FUN</h1>
        <div class="sub-header">
            <ul class="header-list">
                <li class=" header-item fw-bold"><a>Phòng thí nghiệm 3D</a></li>
                <li class=" header-item fw-bold"><a>Lý thuyết </a></li>
                <li class=" header-item fw-bold"><a>Quiz</a></li>
                <li class=" header-item fw-bold"><a class="text" asp-area="" asp-controller="Screen1" asp-action="SC7_Video">Video</a></li>
            </ul>
            <div class="header-icon">
                <a class="" asp-area="" asp-controller="Screen1" asp-action="SC1_Home">
                    <img class="icon" src="~/css/asset/image/icon_home.png" alt="icon page">
                </a>
                <img class="icon" src="~/css/asset/image/icon_profile.png" alt="icon page">
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <img class="footer-logo rounded-circle" src="~/css/asset/image/CHEMISTRY SO FUN.png" alt="logo page">
        <div>
            <p class="ms-3 pt-2 mb-0 fw-bold">CHEMISTRY SO FUN</p>
            <ul class="contact">
                <li class="sub-contact">Hà Nội, Việt Nam </li>
                <li class="sub-contact">abc@gmail.com</li>
            </ul>
            <ul class="contact">
                <li class="sub-contact">+84 123456789</li>
                <li class="sub-contact">facebook.com/chemistrysofun</li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
