<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <title>Chemistry So Fun</title>

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">
</head>

<body>
    @RenderBody()

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <div class="first-item">
                        <div class="logo">
                            <img src="~/images/logoOnly.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>Trần Quang Minh</h4>
                    <ul>
                        <li><a href="#">Trường THCS Ngô Sĩ Liên, Hoàn Kiếm, Hà Nội</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h4>Phạm Bảo Long</h4>
                    <ul>
                        <li><a href="#">Trường THCS Ngô Sĩ Liên, Hoàn Kiếm, Hà Nội</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h4>Phạm Minh Khoa</h4>
                    <ul>
                        <li><a href="#">Trường THCS Ngô Sĩ Liên, Hoàn Kiếm, Hà Nội</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h4>Trần Lê Tuệ Trung</h4>
                    <ul>
                        <li><a href="#">Trường THCS Phenikaa, Nam Từ Liêm, Hà Nội</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Nguyễn Đình Minh Quang</h4>
                    <ul>
                        <li><a href="#">Trường THCS Nguyễn Văn Huyên, Hoài Đức, Hà Nội</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer End ***** -->

    <!-- jQuery -->
    <script src="~/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/accordions.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="~/js/custom.js"></script>

</body>

</html>